@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
  }
}

@layer components {
  .btn {
    @apply inline-flex rounded-md py-3 px-6 text-sm font-semibold uppercase tracking-wide transition duration-300  sm:text-base;
  }

  .btn--primary {
    @apply bg-amber-500 text-white hover:bg-amber-400 active:bg-amber-600;
  }

  .btn__link {
    @apply inline-block text-sm font-medium uppercase tracking-wider text-amber-500 underline underline-offset-8 transition duration-300 hover:text-amber-400 hover:no-underline sm:text-base;
  }

  .btn__icon {
    @apply flex h-10 w-10 items-center text-gray-600 transition duration-300 hover:text-amber-500;
  }

  .btn__control {
    @apply flex items-center justify-center rounded-full bg-amber-100 text-amber-500 transition duration-300 hover:bg-amber-200;
  }

  .badge {
    @apply absolute flex h-5 w-5 items-center justify-center rounded-full bg-amber-500 text-xs font-medium leading-none text-white;
  }

  .link {
    @apply inline-block font-medium text-zinc-600 transition duration-300 hover:text-amber-500;
  }

  .overlay {
    @apply fixed top-0 left-0 z-10 h-full w-full bg-zinc-800/[0.20] transition delay-300;
  }

  .sidepanel {
    @apply absolute top-0  z-10 h-full w-full bg-white;
  }

  .product__cols {
    @apply grid grid-cols-[110px_1fr] xs:grid-cols-[90px_1fr];
  }

  .product__info {
    @apply text-base sm:text-lg xs:text-sm;
  }

  .breadcrumb {
    @apply text-base sm:text-xl lg:text-2xl xs:text-sm;
  }

  .icon {
    @apply flex items-center text-amber-400 transition duration-300 hover:text-amber-500;
  }

  .slider-thumb::-webkit-slider-thumb {
    @apply h-4 w-4 cursor-pointer appearance-none rounded-full bg-amber-500;
  }

  .ripple {
    @apply relative flex h-24 w-24 items-center justify-center;
  }

  .ripple div {
    @apply absolute animate-ripple rounded-full border-4 border-amber-500 opacity-100;
  }

  .ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
}
