@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }
}

@layer components {
  .btn {
    @apply inline-flex text-sm sm:text-base font-semibold uppercase py-3 px-6 tracking-wide rounded-md transition  duration-300;
  }

  .btn--primary {
    @apply bg-amber-500 text-white hover:bg-amber-400 active:bg-amber-600;
  }

  .btn__link {
    @apply inline-block text-sm sm:text-base text-amber-500 hover:text-amber-400 uppercase font-medium tracking-wider transition duration-300 underline underline-offset-8 hover:no-underline;
  }

  .btn__icon {
    @apply h-10 w-10 flex items-center text-gray-600 hover:text-amber-500 transition duration-300;
  }

  .btn__control {
    @apply flex items-center justify-center text-amber-500 rounded-full bg-amber-100 hover:bg-amber-200 transition duration-300;
  }

  .badge {
    @apply absolute rounded-full bg-amber-500 w-5 h-5 flex items-center justify-center text-white text-xs font-medium leading-none;
  }

  .badge__text {
    @apply bg-amber-500 rounded-full items-center justify-center px-3 py-1;
  }

  .btn__card {
    @apply inline-block px-2 py-3 text-center text-xs font-medium uppercase tracking-wide transition duration-300;
  }

  .link {
    @apply inline-block text-zinc-600 hover:text-amber-500 transition duration-300 font-medium;
  }

  .overlay {
    @apply fixed top-0 left-0 w-full h-full bg-zinc-800/[0.20] transition delay-300 z-10;
  }

  .sidepanel {
    @apply absolute w-full  h-full top-0 bg-white z-10;
  }

  .product__cols {
    @apply grid grid-cols-[110px_1fr] xs:grid-cols-[90px_1fr];
  }

  .product__info {
    @apply text-base xs:text-sm sm:text-lg;
  }

  .breadcrumb {
    @apply text-base xs:text-sm sm:text-xl lg:text-2xl;
  }
}
